<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MiScore.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/docs.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

<header class="jumbotron subhead" id="overview" style="left: 0px; top: -39px; height: 150px">
  <div class="container">
    <h1>MiScore.com</h1>
    <p class="lead">Proyecto de Ingenieria de Software 2 - 2013-II</p>
  </div>
</header>

  <div class="container">

    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#"><i class="icon-chevron-right"></i> 1. Crear torneo</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i> 2. Relacionar equipo-torneo</a></li>
          <li><a href="#"><i class="icon-chevron-right"></i> 3. Ayuda</a></li>
        </ul>
      </div>
      <div class="span9">

        <section id="built-with-less">
          <div class="page-header">
            <h1>Torneo</h1>
          </div>
          <h3>Subtitulo</h3>
          <p>texto.</p>

      </section>

      </div>
    </div>

  </div>

    <footer class="footer">
      <div class="container">
        <p>Desarrollado por el equipo <a href="#" target="_blank">Nexsus</a></p>
        <ul class="footer-links">
          <li><a href="#">Astrid Bohorquez</a></li>
          <li><a href="#">Jose Gonzales</a></li>
          <li><a href="#">Nicolas Hernandez</a></li>
          <li><a href="#">Diego Galindo</a></li>          
          <li><a href="#">German Machado</a></li>
          <li><a href="#">Sebastian Rojas</a></li>
        </ul>
      </div>
    </footer>

    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    <script src="../assets/js/bootstrap-affix.js"></script>

    <script src="../assets/js/holder/holder.js"></script>
    <script src="../assets/js/google-code-prettify/prettify.js"></script>

    <script src="../assets/js/application.js"></script>



  </body>
</html>
